#game{
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url('../../images/blackboard.jpg') no-repeat center;
    background-size: cover;
}

#empty-word{
    position:absolute;
    top:20vh;
    font-size: 10vh;;
}

#mini-header{
    position:absolute;
    top:6vh;
    font-size: 4vh;; 
}

#lives{
    position:absolute;
    top:50vh;
    font-size: 4vh;
}

#keypress {
    position:absolute;
    top:85vh;
    font-size: 2vh;
}

#hint {
    position:absolute;
    bottom:4vh;
    font-size: 3vh;
}

#hint-button {
    position: absolute;
    bottom:2vh ;
}

#keyboard-button{
    position: absolute;
    bottom:2vh ;
    right:2vh;
}

#virtual-keyboard{
    position: absolute;
    bottom:0;
    width:100vw;
    z-index: 10;
}

#hint-button .Mui-disabled {
    opacity:0 !important;
}

#points{
    position:absolute;
    top:11.7vh;
    font-size: 3vh;
}

#input-parent{
    position:absolute;
    top:90vh;
}

#input-field{
    color:white !important;
}

#transition {
    background:black;
    height: 100vh;
    width:100vw;
    z-index: 10;
    animation: fadeout 4s;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

#spinner {
 position: relative;
 top:50vh;
}

#spinner p {
    font-family: 'Bubblegum Sans', cursive;
    position: absolute;
    bottom:-80px;
    left:-30px;
    width:200px;
    animation: text 3s infinite;
}

@keyframes text {
    0%   { opacity:0.8; }
    50%  { opacity:0.2; }
    100% { opacity:0.8; }
}

