@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.titles {
    font-family: 'Bubblegum Sans', cursive;
    color: white;
}

*{
    margin:0;
    padding:0;
}

#saved{
    position: absolute;
    z-index: 20;
    position: absolute;
    bottom:2vh;
    left:2vh;
}

#saved p {
    font-family: 'Bubblegum Sans', cursive;
    color: white;
}